:root {
    --primary-color: rgb(233, 233, 231);
    --secondary-color: rgb(85, 20, 18);
    --tertiary-color: rgb(24, 33, 26);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: var(--tertiary-color);
    font-family: 'Montserrat', sans-serif;
}

/* Header/Nav bar styles start*/

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 50px;
    background-color: var(--primary-color);
    background-image: url(./pictures/halla_peak.jpg);
    background-position: 50% 80%;
    background-size: auto;
    background-attachment: fixed;
    padding: 20px 35px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;

}

header h1 a {
    color: var(--secondary-color);
    font-weight: lighter;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    color: var(--secondary-color);
}

header nav ul li a:hover {
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    border-radius: 10px;
    text-shadow: none;
}


/*Hero style start*/

.hero {
    display: flex;
    background-image: url(./pictures/halla_peak.jpg);
    background-size: auto;
    background-position: 50% 80%;
    background-attachment: fixed;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-end;
}

.hero-text {
    margin: 3%;
    color: var(--secondary-color);
    text-shadow: 0 0 4px rgba(255, 255, 255, .5);
    font-size: 25px;
    line-height: 1.3;
}